/* Forms.scss - Main Styles for Page
 * Author: Lisa Maddock
 *
 * Designed for Mobile First
 *
 */

.login-form {
	a, label,
	input[type=text],
	input[type=password]{
		font-size: $font-size-sm;
	}
	input[type=text], [type=password] {
		height: auto;
		padding: $padding-xs $padding-sm;
		margin-bottom: 3px;
	}

	.form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}

}
.inline-edit-form {
	padding: 10px 0;
}
.btn-wrapper {
	display: inline-block;
	margin: $margin-xs 0 0 0;
}
.add-item-form {
	.form-group {
		display: inline-block;
		height: 50px;
		vertical-align: middle;
	}
	input.ng-invalid.ng-touched {
		border: 1px solid $red;
	}

	input.ng-valid.ng-touched {
		border: 1px solid $green;
	}
	.help-text {
		color: $red;
		display: block;
	}
	.btn-wrapper {
		vertical-align: top;
		margin: 0;
	}
}
