<form name="addItemForm" data-ng-submit="addItemForm.$valid && saveItem(item, $index)" class="form-inline add-item-form" novalidate>
	<div class="form-group">
		<label class="sr-only" for="itemLabel">Label</label>
		<input type="text" class="form-control" data-ng-pattern="formValidation.excludeSpecialChars" name="itemLabel" id="itemLabel" data-ng-model="itemLabel" data-ng-required="true" placeholder="Enter a label"/>
		<span class="help-text small" data-ng-show="addItemForm.itemLabel.$invalid && addItemForm.itemLabel.$touched || addItemForm.itemLabel.$error.pattern">Label is required (chars only)</span>
	</div>
	<div class="form-group">
		<label class="sr-only" for="itemValue">Value</label>
		<input type="text" class="form-control" data-ng-pattern="formValidation.excludeSpecialChars" name="itemValue" id="itemValue" data-ng-model="itemValue" data-ng-required="true" placeholder="Enter a value"/>
		<span class="help-text small" data-ng-show="addItemForm.itemValue.$invalid && addItemForm.itemValue.$touched || addItemForm.itemValue.$error.pattern">Value is required (chars only)</span>
	</div>
	<div class="btn-wrapper">
		<button type="submit" data-ng-disabled="addItemForm.$invalid" class="btn btn-primary">Save</button>
		<button type="button" data-ng-click="closeAndReset()" class="btn btn-default">Cancel</button>
	</div>
	<!-- form-snippet formlabel="itemLabel" formval="itemValue" savefn="saveItem()" resetfn="closeAndReset()"></form-snippet-->
</form>