
<div class="form-group">
	<label class="sr-only" for="itemLabel">Label</label>
	<input type="text" class="form-control" id="itemLabel" data-ng-model="itemLabel" placeholder="Enter a label"/>
	<label class="sr-only" for="itemValue">Value</label>
	<input type="text" class="form-control" id="itemValue" data-ng-model="itemValue" placeholder="Enter a value"/>
</div>
<a data-ng-click="saveItem()" class="btn btn-primary">Save</a>
<a data-ng-click="closeAndReset()" class="btn btn-default">Cancel</a>



<form name="addItemForm" data-ng-submit="saveItem(item, $index)" data-ng-show="editMode && cms.selected.id === $index" class="inline-edit-form" novalidate>
	<div class="form-group">
		<label data-ng-bind="item.label" data-ng-model="item.label"></label>
		<textarea class="form-control" data-ng-model="item.val" placeholder="Enter a value"></textarea>
		<div class="btn-wrapper">
			<button type="submit" data-ng-click="saveItem(item, $index)" class="btn btn-primary">Save</button>
			<button type="button" data-ng-click="closeAndReset()" class="btn btn-default">Cancel</button>
		</div>
	</div>
</form>

<form name="addItemForm" class="form-inline addItemForm" novalidate>
	<div class="form-group">
		<label class="sr-only" for="itemLabel">Label</label>
		<input type="text" class="form-control" id="itemLabel" data-ng-model="itemLabel" placeholder="Enter a label"/>
		<label class="sr-only" for="itemValue">Value</label>
		<input type="text" class="form-control" id="itemValue" data-ng-model="itemValue" placeholder="Enter a value"/>
	</div>
	<button type="submit" data-ng-click="saveItem()" class="btn btn-primary">Save</button>
	<button type="button" data-ng-click="closeAndReset()" class="btn btn-default">Cancel</button>
	<!-- form-snippet formlabel="itemLabel" formval="itemValue" savefn="saveItem()" resetfn="closeAndReset()" idx=""></form-snippet-->
</form>