@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/Lato/Lato-Regular.WOFF') format('woff'),
	url('fonts/Lato/Lato-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Lato Bold';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/Lato/Lato-Bold.WOFF') format('woff'),
	url('fonts/Lato/Lato-Bold.ttf') format('truetype');
}
